@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background: #f1f5f9;
  color: #1e293b;
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-1px);
}

input {
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
}